[Desktop Entry]
Name=Postman
Comment=Postman API Client
Exec=/opt/Postman/Postman
Icon=/opt/Postman/app/resources/app/assets/icon.png
Terminal=false
Type=Application
Categories=Development;IDE;
