configuration {
    font: "JetBrainsMono Nerd Font 12";
    drun-display-format: "{name}";
    display-drun: "󱙈 Search:";
    show-icons: true;
    icon-theme: "Papirus";
}

* {
    arrow-symbol: "→";
    spacing: 6;
    background-color: #282a36;
    color: white;
}

window {
    location: center;
    anchor: center;
    width: 650px;
    padding: 20px;
    background-color: #282a36;
    border: 2px;
    border-color: #44475a;
    border-radius: 8px;
}

// Search - Input
inputrow {
    orientation: horizontal;
    children: [prompt, entry];
    spacing: 6px;
}

prompt {
    text: "Search:";
    font: "JetBrainsMono Nerd Font Bold 13";
    text-color: #f8f8f2;
    background-color: transparent;
    padding: 2px 0;
}

// Box search - Box view

entry {
    placeholder: "";
    padding: 2px 8px;
    border: 1px;
    border-color: #6272a4;
    border-radius: 4px;
    background-color: #44475a;
    text-color: #f8f8f2;
}

listview {
    lines: 8;
    fixed-height: true;
    scrollbar: true;
    padding: 5px 0;
    background-color: transparent;
}

// Item. Example: Element-icon Element-text
element {
    children: [element-icon, element-text];
    spacing: 6px;
    padding: 6px 0px;
    background-color: transparent;
    border-radius: 4px;
}

element-icon {
    size: 18px;
    margin: 0px 6px 0px 0px;
    background-color: transparent;
}

element-text {
    text-color: #f8f8f2;
}

element selected {
    border: 0 0 2px 0;         // Ý định: chỉ border dưới (KHÔNG hỗ trợ rofi, chỉ minh họa)
    border-color: #ffffff;
    border-radius: 0px;
}
